.content {
  max-width: 500px;
  margin: auto;
  background: white;
  padding: 10px;
}
header {
  background-color: blue;
  width: 415px;
  height: 180px;
  border: 1px solid #ccc;
  padding: 10px;
  box-shadow: 10px 10px 10px #999;
  border-radius: 50px 25px;
}

#header-heading {
  text-align: right;
  margin-top: -100px;
  padding-right: 30px;
  color: white;
}
.center {
  padding-left: 10px;
  padding-top: 10px;
  padding-bottom: 10px;
  box-shadow: 5px 5px 5px #999;
  border-radius: 5px;
  }
  
footer {
  background-color: blue;
  width: 415px;
  border: 1px solid #ccc;
  padding: 10px;
  box-shadow: 10px 10px 10px #999;
  border-radius: 25px;
  text-align: center;
  color: white;
}
@media screen and (max-width: 100px) {
  .content {
    display: block;
    }
}
  


