@media only screen and (min-width: 799px) {
  header {
    background-color: aquamarine;
    padding: 10px;
    display: flex;
    justify-content: space-around;
  }
  .main-heading {
    display: flex;
  }
  #social {
    justify-items: right;
    display: flex;
    padding-top: 20px;
  }
  #twitter {
    padding-left: 5px;
  }
  #facebook {
    padding-left: 5px;
  }
  nav ul li a {
    border: none;
  }
  .headerImage {
    display: block;
  }
  main {
    margin-bottom: 3em;
  }

  main div {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
  }

  #hero {
    grid-row: 1;
    grid-column: span 6;
  }

  #hero h2 {
    font-size: 20pt;
  }

  #hero button {
    font-size: 14pt;
    margin-top: 3.5em;
    margin-left: 65%;
  }
  .extraHero {
    display: none;
  }
  #news {
    height: 180px;
    grid-row: 2;
    grid-column: span 6;
    border-radius: 10px;
  }

  #spotlights {
    grid-row: 3;
    grid-column: span 6;
    margin-left: 1.5rem;
  }

  #spotlights section {
    grid-column: span 3;
  }

  #join {
    display: block;
    height: 125px;
    grid-row: 4;
    grid-column: span 6;
    text-align: center;
    margin: 2em auto;
    width: 85%;
    margin-right: 2.5rem;
    border-radius: 6px;
    padding-top: 1rem;
    background-color: aquamarine;
    color: black;
  }

  #join button {
    display: block;
    margin: 0.5rem auto;
    width: 80%;
    font-size: larger;
    color: black;
    border-radius: 15px;
    border: none;
    background-color:aqua;
    font-weight: bold;
  }

  #join p {
    margin: 0 auto;
    width: 80%;
    font-size: 15pt;
    color: black;
  }

  #event {
    grid-row: 5;
    grid-column: 1 / span 4;
    width: 80%;
    height: 200px;
    margin-left: 1.5em;
  }
  #weather {
    width: 80%;
    height: 256px;
    grid-column: span 2;
    margin-left: 0;
  }
  #karibu {
    width: 85%;
  }
  #weather img {
    width: 60px;
  }
  footer {
    text-align: center;
    margin-top: 20px;
    margin-bottom: 20px;
    border-top: 1px solid rgba(0, 0, 0, 0.5);
    background-color: turquoise;
  }
  .footerFlex {
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
  }
  .footer1 {
    margin-top: 40px;
    padding-right: 5em;
  }
  .footer2 {
    margin-top: 40px;
    padding-left: 40px;
  }
  .footer3 {
    display: none;
  }
  .footer4 {
    display: flex;
    justify-content: center;
    margin-top: 10px;
    padding-bottom: 15px;
    border-top: 1px solid rgba(0, 0, 0, 0.5);
    padding-top: 10px;
  }
  .shadow:hover {
    box-shadow: 0 0 50px #333;
  }
  /*---------Directory Medium-----------*/
  #dirCards {
    display: none;
  }

  #dirBtn {
    width: 20%;
  }
  #grid-btn {
    display: none;
  }
  #dirList {
    display: block;
  }
  #dirList section {
    display: flex;
    justify-content: space-around;
    height: 70px;
  }

  #dirList section p {
    padding: 0.5em;
    text-align: center;
  }

  #dirList a {
    display: block;
    align-self: center;
  }
  /*--------Discover Page medium--------*/
  #discover-section {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }

  #discover-section p {
    grid-column: span 2;
    font-size: x-large;
    text-align: center;
  }
  .contact-us {
    display: none;
  }
}
